/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
 	padding: 10px;
 }

nav{
	text-align: center;
	margin: 0;
	width: 101.7%;
	height: 50px;
	background-color: gray;
	margin: -10px;
}

nav a{
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
	margin: 10px;
	padding: 10px;
	position: relative;
	top: 0px;
	transition: 0.3s;
	color: white;
}


nav a:hover{
	color: rgba(255,255,255,0.5);
	text-decoration: none;
}

nav li{
	position: relative;
	display: inline;
	top: 25%;
}

.list{
	background-color: white;
	position: relative;
	float: left;
	margin: 1px;
	padding: 50px;
	padding-right: 70px;
	padding-left: 0px;
	padding-top: 30px;
	min-height: 200px;
	max-width: 400px;
	min-width: 200px;

	color: white;
	top: 50px;
}

.list p{
	text-align: center;
	margin-left: 20px;
	margin-bottom: 30px;
}

#title{
	color: white;
	font-weight: bold;
}

.list li{
	padding: 10px;
	margin: -11px;
	margin-right: 10px;
}

.gray{
	color: white;
	background-color: gray;
}

.lightgray{
	color: black;
	background-color: lightgray;
}

.lightgray #title{
	color: black;
}


/* add & delete */

.gray #add{
	position: relative;
	float: right;
	margin-right: -38px;
	margin-top: -72px;
	width: 20px;
	height: 20px;
	background-image: image-url("add20.png");
	background-size: cover;
	filter: invert(100%);
	-ms-filter: invert(100%);
	-moz-filter: invert(100%);
	-webkit-filter: invert(100%);
}

.lightgray #add{
	position: relative;
	float: right;
	margin-right: -38px;
	margin-top: -72px;
	width: 20px;
	height: 20px;
	background-image: image-url("add20.png");
	background-size: cover;
}

.gray #delete{
	position: relative;
	float: right;
	margin-right: -65px;
	margin-top: -73px;
	width: 20px;
	height: 20px;
	background-image: image-url("delete96.png");
	background-size: cover;
	filter: invert(100%);
	-ms-filter: invert(100%);
	-moz-filter: invert(100%);
	-webkit-filter: invert(100%);	
}

.lightgray #delete{
	position: relative;
	float: right;
	margin-right: -65px;
	margin-top: -73px;
	width: 20px;
	height: 20px;
	background-image: image-url("delete96.png");
	background-size: cover;
}

.delete{
	position: relative;
	width: 15px;
	float: right;
	left: 50px;
	top: 2px;
}